{% extends "base.html" %}

{% block content %}
  <form class="text-center mt-5 mb-5" action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p ><input style="height:35px ;width:250px; border-radius:15px;" type="email" name="email" placeholder="El. paštas" required {% if form.email.value %} value="{{ form.email.value }}"{% endif %}></p>
    <input type="submit" class="btn btn-primary user-button" value="Atkurti">
  </form>
{% endblock %}