{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
     <div class="media">
  <div class="media-body">
    <img class="rounded-circle account-img d-block mx-auto mt-5 " src="{{ user.profilis.nuotrauka.url }}">
    <h2 class="account-heading text-center mt-1">{{ user.username }}</h2>
    <p class="text-secondary text-center">{{ user.email }}</p>
  </div>
</div>
      </div>
       <form id="user-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2 class="text-center mb-4" style="letter-spacing:55px; color:black; font-weight:300;">Profilio info</h2>
                <div class="d-flex justify-content-center">
                {{ u_form|crispy }}
                </div>
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Atnaujinti</button>
            </div>
        </form>
    </div>
{% endblock content %}