{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class=" align-items-center justify-content-center">
    <div>
      <h1 class="text-center mt-5 mb-5" id="spacing-long">Paieškos pagal "{{query}}" rezultatai</h1>
      </br>
      {% if books %}
      <div class="row justify-content-center">
        <div class="position-absolute  black-overlay"></div>
        {% for book in books %}
          <a href="{% url 'book-detail' book.id %}" class="col-2 d-flex align-items-stretch" style="text-decoration:none">
            <div class="card mt-5 card-hover mb-5 shadow-sm">
              {% if book.cover %}
                <img src="{{ book.cover.url }}" class="card-img-top" alt="...">
              {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top">
              {% endif %}
              <div class="card-body">
                <h6 class="text-green-author">{{ book.author }}</h6>
                <p class="text-green-title">{{ book.title }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      {% else %}
        <p class="text-center" style="color:white; text-transform:uppercase">Nieko neradome </p>
      {% endif %}
    </div>
  </div>
{% endblock %}