{% extends "base.html" %}

{% block content %}
  <h1 class="mt-5 mb-5 text-center" id="spacing-long">Mano paimta knyga</h1>
  <hr>
  <ul class="no-bullet text-center">
    <img style="opacity:0.7;height:100px; width:100px;" class="rounded-circle user-image mb-5" src="{{object.reader.profilis.nuotrauka.url}}">
    <hr>
    <li class="mt-5" style="color:white;"> <strong class="{% if object.is_overdue %}text-danger{% endif %} ">Pavadinimas {{object.book.title}}</strong></li>
    <li style="color:white"><strong>Gražinimo terminas:</strong> {{object.due_back}}</li>
    <br/>
    {% if object.reader == user %}
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'my-book-update' object.id %}">Redaguoti</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'my-book-delete' object.id %}">Grąžinti</a>
    </div>
    {% endif %}
  </ul>
{% endblock %}